[user]
	name = Your Name
	email = you@example.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
